* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.header-wrapper {
   max-width: 1000px;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
   padding: 10px;
}

.btn-search {
   width: 100px;
   height: 30px;
   cursor: pointer;
}

.errorMessage {
   color: red;
   font-weight: 600;
   margin: 10px;
   text-align: center;
   display: none;
}

.gallery {
   max-width: 1000px;
   margin: auto;
   padding: 0 10px;
}

.gallery-grid {
   gap: 15px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.gallery-column {
   max-width: 300px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   height: auto;
}

.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1000px;
   height: 60px;
   margin: auto;
   padding: 10px;
}

footer div:nth-child(2) {
   margin-right: 50px;
}

.link {
   width: 90px;
   height: 100%;
   background-color: #fff;
   padding: 5px;
   border-radius: 5px;
}

.link:last-child {
   width: 40px;
}

.link a {
   display: flex;
   height: 100%;
   
}