* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Oswald', sans-serif;
   color: #faebd7;
   background-color: #cfe7e3;
}

header {
   background-color: #84b4b1;
}

.header-wrapper {
   max-width: 1000px;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
   padding: 10px;
}

.title {
   display: flex;
   align-items: center;
   gap: 5px;
}

h1 {
   color: #faebd7;
   text-transform: uppercase;
}

.search-input-wrapper {
   display: flex;
   align-items: center;
}

.search-input {
   position: relative;
   margin-right: 10px;
}

.input {
   box-sizing: border-box;
   border-radius: 20px;
   padding: 8px 12px;
   background-color: #faebd7;
   border: 2px solid #000;
}

.cross-btn {
   border: none;
   cursor: pointer;
   position: absolute;
   top: 10px;
   left: 165px;
   width: 16px;
   height: 16px;
   background-color: transparent;
}

.cross-btn::before, .cross-btn::after {
   content: "";
   position: absolute;
   width: 14px;
   height: 2px;
   background: #000;
   left: 0;
}

.cross-btn::before {
   transform: rotate(45deg) translateY(-1px);
}

.cross-btn::after {
   transform: rotate(-45deg) translateX(1px);
}

.btn-search {
   width: 80px;
   height: 35px;
   cursor: pointer;
   background-color: #faebd7;
   border-radius: 5px;
   border: 2px solid #000;
   font-family: 'Oswald', sans-serif;
   font-size: 15px;
   text-transform: uppercase;
}

.btn-search:hover {
   background-color: #cfe7e3;
}

.errorMessage {
   color: red;
   font-weight: 600;
   margin: 10px;
   text-align: center;
   display: none;
}

.gallery {
   max-width: 1000px;
   margin: auto;
   padding: 10px;
   background-color: #faebd7;
   transition: .3s;
}

.gallery-img {
   border-radius: 5px;
}

.gallery-img:hover {
   transform: scale(1.03);
   transition: .3s;
   cursor: pointer;
}

.gallery-grid {
   gap: 15px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.gallery-column {
   max-width: 315px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   height: auto;
}

.footer {
   background-color: #84b4b1;
}

.footer-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1000px;
   height: 60px;
   margin: auto;
   padding: 10px;
}

.footer-wrapper div:nth-child(2) {
   margin-right: 50px;
}

.link {
   width: 90px;
   height: 100%;
   background-color: #fff;
   padding: 5px;
   border-radius: 5px;
}

.link:last-child {
   width: 40px;
}

.link a {
   display: flex;
   height: 100%;
   
}